:root {
  --babyBlue: #1da1f2;
  --black: #14171a;
  --darkGrey: #657786;
  --lightGrey: #aab8c2;
  --extraLightGray: #e1e8ed;
  --extraExtraLightGray: #f5f8fa;
  --white: #ffffff;
  --newTwitterBlue: #15212b;
  --inputText: #253441;
}
.form-control{
    color: black !important;
}
.editPostModal{
    border: 2px solid var(--babyBlue) !important;
    border-radius: 13px;
}
.editModalHeader{
    background-color: var(--newTwitterBlue) !important;
    justify-content: center;
    border-bottom: 2px solid var(--babyBlue) !important;
    border-radius: 12px 12px 0px 0px;
}
#editModalHeaderText{
    color: var(--babyBlue) !important;
}
.editModalBody{
    background-color: var(--inputText) !important;
    border-bottom: 1px solid var(--babyBlue) !important;
}
.editModalFooter{
    background-color: var(--newTwitterBlue) !important;
    border-top: 1px solid var(--babyBlue) !important;
    border-radius: 0px 0px 12px 12px;
}
.cancelEditButton{
    border-radius: 13px;
    border: 2px solid var(--white) !important;
    color: white !important;
    background-color: var(--newTwitterBlue) !important;
}
.cancelEditButton:hover{
    border: 2px solid var(--babyBlue) !important;
    color: var(--newTwitterBlue)!important;
    background-color: var(--babyBlue) !important;
}
.saveChangesEditButton{
    border-radius: 13px;
    border: 2px solid var(--white) !important;
    color: var(--newTwitterBlue);
    background-color: var(--babyBlue) !important;
}
.saveChangesEditButton:hover{
    border: 2px solid var(--babyBlue) !important;
    background-color: var(--white) !important;
    color: var(--newTwitterBlue) !important;
}
