:root {
  --babyBlue: #1da1f2;
  --black: #14171a;
  --darkGrey: #657786;
  --lightGrey: #aab8c2;
  --extraLightGray: #e1e8ed;
  --extraExtraLightGray: #f5f8fa;
  --white: #ffffff;
  --newTwitterBlue: #15212b;
  --inputText: #253441;
}

.homeComponent {
  display: grid;
  padding: 20px;
  /* border: 1px solid var(--lightGrey); */
  width: auto;
  height: auto;
  grid-template: 15% 85%;
  background-color: var(--newTwitterBlue);
}
.hwitterHomeHeader {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  border: 1px solid var(--lightGrey);
  padding: 1px;
  border-radius: 13px;
  background-color: var(--newTwitterBlue);
}
#hwitterHeader {
  grid-column: 2 / span 1;
  color: var(--babyBlue);
  margin: 10px 0px;
  padding: 20px;
}
#trendingHeader {
  grid-column: 2 / span 1;
  margin: 10px 0px;
  padding: 20px;
  color: var(--lightGrey);
}
.trendingNewsDiv {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  /* grid-template-rows: 10% auto; */
  height: 50vh;
  overflow: scroll;
  border: 2px solid var(--babyBlue);
  border-radius: 13px;
  padding: 10px;
}
.trendingNews {
  grid-column: 2 / span 1;
  border: 2px solid var(--lightGrey);
  padding: 10px;
  border-radius: 13px;
  margin: 30px 0px;
}
.trendingNews:hover{
  background-color: var(--inputText);
  color: var(--babyBlue) !important;
}
.trendingNewsCard {
  grid-area: 2 / 2 / span 1 / span 1;
  border-radius: 13px;
  height: 100%;
}
.trendingUl {
  padding: 1%;
  list-style-type: none;

}
.newsLi {
  display: grid;
  grid-template-columns: 25% 10% 45% 20%;
  grid-template-rows: repeat(3, 25%);
}
.newsImg {
  border: 1px solid var(--lightGrey);
  border-radius: 13px;
  grid-area: 1/ 1 / span 1 / span 1;
  padding: 10px;
  margin: 5px;
}
.newsImg:hover{
  background-color: var(--babyBlue);
}
.newsHeader {
  color: var(--lightGrey);
  padding: 10px;
  margin: 10px;
  grid-area: 2/3/ span 1/ span 1;
  justify-self: center;
}
.newsHeader:hover{
  color: var(--babyBlue) !important;
}
.queryHeader {
  grid-area: 3 / 3 / span 1 / span 1;
  color: var(--white);
  justify-self: center;
  padding: 10px;
  margin: 10px;
}
.queryHeader:hover{
  color: var(--babyBlue);
}