:root {
  --babyBlue: #1da1f2;
  --black: #14171a;
  --darkGrey: #657786;
  --lightGrey: #aab8c2;
  --extraLightGray: #e1e8ed;
  --extraExtraLightGray: #f5f8fa;
  --white: #ffffff;
  --newTwitterBlue: #15212b;
  --inputText: #253441;
}

.loginContainer {
  border: 1px solid var(--darkGrey);
  background-color: var(--newTwitterBlue);
  color: var(--white);
  max-width: 600px;
  width: 100%;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.loginHeader {
  border: 1px solid #ffffff;
}
.loginForm {
  border: 1px solid #ffffff;
}
.loginNameContainer {
  border: 2px solid #000000;
  padding: 10px 24px;
  background-color: var(--newTwitterBlue);
}
.nameLabel{
  text-align: left;
  background-color: var(--inputText);
  margin-bottom: -19px;
}
.loginName{
  border: 2px solid var(--inputText);
  color: var(--lightGrey);
  background-color: var(--inputText);
  height: 192px;
  font-size: small;
  text-align: left;
}
#inputLoginName {
  background-color: #253441;
  width: 540px;
  height: 30px;
  border: .5px solid #253441;
  border-bottom: 1px solid var(--lightGrey);
}
.loginPasswordContainer {
  border: 1px solid #ffffff;
  padding: 10px 24px;
  background-color: var(--newTwitterBlue);
}
.loginPassword{
  border: 2px solid var(--inputText);
  color: var(--lightGrey);
  background-color: var(--inputText);
  height: 192px;
  font-size: small;
  text-align: left;
}
#inputLoginPassword{
  background-color: #253441;
  width: 540px;
  height: 30px;
  border: .5px solid #253441;
  border-bottom: 1px solid var(--lightGrey);
}
.passwordLabel{
  text-align: left;
  background-color: var(--inputText);
  margin-bottom: -19px;
}

#mainLoginButton{
  background-color: var(--babyBlue);
  color: white;
}

