:root {
  --babyBlue: #1da1f2;
  --black: #14171a;
  --darkGrey: #657786;
  --lightGrey: #aab8c2;
  --extraLightGray: #e1e8ed;
  --extraExtraLightGray: #f5f8fa;
  --white: #ffffff;
  --newTwitterBlue: #15212b;
  --inputText: #253441;
}

.loginContainer {
  border: 1px solid var(--darkGrey);
  background-color: var(--newTwitterBlue);
  color: var(--white);
  max-width: 600px;
  width: 100%;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 13px;
  box-shadow: 5px 10px 8px #253441;
}
.loginHeader {
  border: 1px solid var(--newTwitterBlue);
  color: var(--babyBlue)
}
.loginForm {
  border: 1px solid var(--newTwitterBlue);
}
.loginNameContainer {
  border: 2px solid var(--newTwitterBlue);
  padding: 10px 24px;
  background-color: var(--newTwitterBlue);
}
.nameLabel{
  text-align: left;
  background-color: var(--inputText);
  margin-bottom: -19px;
}
.loginName{
  border: 2px solid var(--inputText);
  color: var(--lightGrey);
  background-color: var(--inputText);
  height: 192px;
  font-size: small;
  text-align: left;
}
#inputLoginName {
  background-color: #253441;
  width: 540px;
  height: 30px;
  border: .5px solid #253441;
  border-bottom: 1px solid var(--lightGrey);
  color: var(--babyBlue);
  outline: none;
}
.loginPasswordContainer {
  border: 1px solid var(--newTwitterBlue);
  padding: 10px 24px;
  background-color: var(--newTwitterBlue);
}
.loginPassword{
  border: 2px solid var(--inputText);
  color: var(--lightGrey);
  background-color: var(--inputText);
  height: 192px;
  font-size: small;
  text-align: left;
}
#inputLoginPassword{
  background-color: #253441;
  width: 540px;
  height: 30px;
  border: .5px solid #253441;
  border-bottom: 1px solid var(--lightGrey);
  color: var(--babyBlue);
  outline: none;
}
.passwordLabel{
  text-align: left;
  background-color: var(--inputText);
  margin-bottom: -19px;
}
.loginButtonPage{
  height: 50px;
}

#mainLoginButton{
  background-color: var(--babyBlue);
  border: 2px solid var(--babyBlue);
  color: white;
  font-weight: bold;
  width: 548px;
  border-radius: 50px;
  height: 40px;
  opacity: .7;
}
.loginJumbotron{
  background-color: var(--inputText) !important;
  border-radius: 13px;
  border: 1px solid var(--lightGrey);
}
.loginLabel{
  color: var(--babyBlue);
}
.loginBtn{
  padding: 5px 30px;
  border-radius: 13px;
  background-color: var(--babyBlue) !important;
  color: var(--white) !important;
}
.loginBtn:hover{
  background-color: var(--white) !important;
  color: var(--babyBlue) !important;
}
.buttonLogin{
  display: flex;
  justify-content: space-around;
}