:root {
  --babyBlue: #1da1f2;
  --black: #14171a;
  --darkGrey: #657786;
  --lightGrey: #aab8c2;
  --extraLightGray: #e1e8ed;
  --extraExtraLightGray: #f5f8fa;
  --white: #ffffff;
  --newTwitterBlue: #15212b;
  --inputText: #253441;
}

.navBar {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: var(--newTwitterBlue);
  border: 1px solid var(--lightGrey);
}

.navBar > .navUl {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
  z-index: 2;
}

.loginButton {
  padding: 6px;
  border: 1px solid var(--babyBlue);
  border-radius: 50px 50px;
  width: 69px;
  height: 13px;
}
.loginButton:hover {
  background-color: var(--newTwitterBlue);
  opacity: 0.2;
}
.signUpButton {
  padding: 6px;
  border: 1px solid var(--babyBlue);
  background-color: var(--babyBlue);
  border-radius: 50px 50px;
  width: 69px;
  height: 13px;
}
.signUpButton:hover {
  background-color: var(--babyBlue);
  opacity: 0.5;
}
.inactiveSignUp {
  color: var(--white);
  text-decoration: none;
  font-weight: bold;
  position: relative;
  top: -3px;
}
.inactiveLogin {
  color: var(--babyBlue);
  background-color: var(--newTwitterBlue);
  text-decoration: none;
  font-weight: bold;
  position: relative;
  top: -3px;
}
.activeLogin {
  color: var(--babyBlue);
  background-color: var(--newTwitterBlue);
  text-decoration: none;
  font-weight: bold;
}
.hweetButton {
  padding: 6px;
  border: 1px solid var(--babyBlue);
  background-color: var(--babyBlue);
  border-radius: 50px 50px;
  width: 100px;
  height: 18px;
}

.inactiveHweet {
  background-color: var(--babyBlue);
  color: var(--white);
  border-radius: 13px;
  width: 110px;
  font-weight: bold;
  text-decoration: none;
}
.hweetButton:hover {
  background-color: var(--babyBlue);
  opacity: 0.5;
  color: var(--white);
  font-weight: bold;
  text-decoration: none;
}
#logoutBtn{
  background-color: var(--newTwitterBlue);
  border: 1px solid var(--babyBlue);
  color: var(--babyBlue);
  width: 110px;
  height: 32px;
  font-weight: bold;
  border-radius: 50px 50px;
}

#logoutBtn:hover{
  background-color: var(--inputText);
}
