:root {
  --babyBlue: #1da1f2;
  --black: #14171a;
  --darkGrey: #657786;
  --lightGrey: #aab8c2;
  --extraLightGray: #e1e8ed;
  --extraExtraLightGray: #f5f8fa;
  --white: #ffffff;
  --newTwitterBlue: #15212b;
  --inputText: #253441;
}

.navbar{
  background-color: var(--newTwitterBlue) !important;
  border: 1px solid var(--lightGrey);
  box-shadow: 0 2px 2px -2px var(--darkGrey);
}
#brandTitle{
  color: var(--babyBlue) !important;
}
.nav-item{
  padding: 5px 30px;
  margin: 0px 10px;
}
#signUpId{
  background-color: var(--babyBlue) !important;
  border-radius: 13px;
}
#signUpId:hover{
  background-color: var(--white) !important;
  color: var(--white) !important;
}

#loginId{
  background-color: var(--newTwitterBlue) !important;
  color: var(--white) !important;
  border: 1px solid white !important;
  border-radius: 13px;
}
#loginId:hover{
  background-color: var(--babyBlue) !important;
  border: 1px solid var(--babyBlue) !important;
}