:root{
    --babyBlue: #1DA1F2;
    --black: #14171A;
    --darkGrey: #657786;
    --lightGrey: #AAB8C2;
    --extraLightGray: #E1E8ED;
    --extraExtraLightGray: #F5F8FA;
    --white: #ffffff;
    --newTwitterBlue: #15212b;

}

.navBar {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: var(--newTwitterBlue);
}

.navBar > .navUl {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
  z-index: 2;
}
.searchBar{
  width: 100%;
  position: relative;
  display: flex;
}
.searchInput{
  width: 100%;
  border: .5px solid #253441;
  padding: 5px;
  height: 13px;
  width: 350px;
  border-radius: 0 50px 50px 0;
  outline: none;
  background-color: #253441;
  border-left: none;
  color: var(--white)
}

.searchButton{
    width: 40px;
    height: 25px;
    border: 1px solid #253441;
    background: #253441;
    text-align: center;
    color: #fff;
    border-right: none;
    border-radius: 50px 0 0 50px;
    cursor: pointer;
    font-size: 20px;
}

#searchIcon{
  height: 16px;
  filter: invert(1);
  opacity: .5;
}

.loginButton{
  padding: 6px;
  border: 1px solid var(--babyBlue);
  border-radius: 50px 50px;
  width: 69px;
  height: 13px;
}
.loginButton:hover{
  background-color: var(--newTwitterBlue);
  opacity: .2;
}
.signUpButton{
  padding: 6px;
  border: 1px solid var(--babyBlue);
  background-color: var(--babyBlue);
  border-radius: 50px 50px;
  width: 69px;
  height: 13px;

}
.signUpButton:hover{
  background-color: var(--babyBlue);
  opacity: .5;
}
.inactiveSignUp{
  color: var(--white);
  text-decoration: none;
  font-weight: bold;
}
.inactiveLogin{
  color: var(--babyBlue);
  background-color: var(--newTwitterBlue);
  text-decoration: none;
  font-weight: bold;
}
.activeLogin{
  color: var(--babyBlue);
  background-color: var(--newTwitterBlue);
  text-decoration: none;
  font-weight: bold;
}
