:root {
  --babyBlue: #1da1f2;
  --black: #14171a;
  --darkGrey: #657786;
  --lightGrey: #aab8c2;
  --extraLightGray: #e1e8ed;
  --extraExtraLightGray: #f5f8fa;
  --white: #ffffff;
  --newTwitterBlue: #15212b;
  --inputText: #253441;
}
.searchResultsContainer {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 20% 80%;
  padding: 20px;
  height: 90vh;
}
.searchHeader {
  grid-area: 1/ 2 / span 1 / span 1;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: repeat(4, 25%);
  border: 2px solid var(--darkGrey);
  border-radius: 13px;
  padding: 10px;
  height: 100%;
  overflow: scroll;
}
#searchH1 {
  grid-area: 2 / 2 / span 1 / span 1;
  color: var(--babyBlue);
  justify-self: center;
}
.resultContainer {
  grid-area: 2/ 2 / span 1 / span 1;
  justify-content: center;
  color: var(--white) !important;
  padding: 10px;
  margin: 10px;
  border: 2px solid var(--babyBlue) !important;
  border-radius: 13px;
  overflow: scroll;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
#noResult{
  grid-column: 2/ span 1;
}
.resultUl {
  padding: 10px;
  list-style: none;
  grid-column: 2/ span 1;
}
.resultLiContainer {
  padding: 10px;
  border-radius: 13px;
  margin: 10px;
  border: 2px solid var(--lightGrey);
}
#resultLi {
  display: grid;
  grid-template-columns: 2fr 3fr;

  border-radius: 13px;
  border: 2px solid var(--newTwitterBlue);
}
.resultNameDiv {
  grid-column: 1/ span 1;
  background-color: var(--babyBlue);
  border-radius: 10px 0px 0px 10px;
  border: 2px solid var(--babyBlue);
}
.resultNameDiv:hover{
  background-color: var(--inputText);
  border: 2px solid var(--inputText);
  color: var(--babyBlue) !important;
}
#resultName{
  color: var(--white);
}
.resultPostDiv{
  grid-column: 2/ span 1;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: repeat(4, 25%);
}
#resultPost{
  grid-area: 2/ 2/ span 2/ span 1;
  /* padding: 5px; */
  /* margin: 5px; */
}
.resultPostDiv:hover{
  background-color: var(--inputText) !important;
  color: var(--babyBlue) !important;
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
}