:root {
  --babyBlue: #1da1f2;
  --black: #14171a;
  --darkGrey: #657786;
  --lightGrey: #aab8c2;
  --extraLightGray: #e1e8ed;
  --extraExtraLightGray: #f5f8fa;
  --white: #ffffff;
  --newTwitterBlue: #15212b;
  --inputText: #253441;
}


.formContainer {
  display: grid;
}
.formSearch {
  width: 100%;
  display: grid;
  grid-template-columns: 10% 90%;
}
.searchButton {
  grid-column: 1 / span 1;
  width: 40px;
  height: 24.5px;
  border: 1px solid #253441;
  background: #253441;
  text-align: center;
  color: #fff;
  border-right: none;
  border-radius: 50px 0 0 50px;
  cursor: pointer;
  font-size: 20px;
}
.searchInput{
  grid-column: 2/ span 1;
  width: 100%;
  border: .5px solid #253441;
  padding: 5px;
  height: 13px;
  width: 350px;
  border-radius: 0 50px 50px 0;
  outline: none;
  background-color: #253441;
  border-left: none;
  color: var(--white)
}
#searchIcon{
  height: 16px;
  filter: invert(1);
  opacity: .5;
}
