:root {
  --babyBlue: #1da1f2;
  --black: #14171a;
  --darkGrey: #657786;
  --lightGrey: #aab8c2;
  --extraLightGray: #e1e8ed;
  --extraExtraLightGray: #f5f8fa;
  --white: #ffffff;
  --newTwitterBlue: #15212b;
  --inputText: #253441;
}
.signUpContainer {
  background-color: var(--newTwitterBlue) !important;
  color: var(--babyBlue) !important;
  border: 1px solid var(--lightGrey);
  border-radius: 13px;
  box-shadow: 3px 3px 8px #253441;
  padding: 10px;
  margin-top: 15px;

}
.signUpForm {
  padding: 20px;
}
.signUpHeader{
  display: grid;
  grid-template-rows: 50% 50%;
}
#twitterLogo{
  justify-self: center;
}
#uploadImgBtn {
  background-color: var(--babyBlue);
  border-radius: 13px;
  padding: 5px 30px;
  border: 1px solid var(--babyBlue);
  color: white;
}
#uploadImgBtn:hover {
  background-color: white;
  color: var(--babyBlue);
}
.signUpSubmitBtn {
  background-color: var(--newTwitterBlue) !important;
  padding: 5px 30px;
  border: 1px solid var(--babyBlue);
  color: var(--babyBlue) !important;
}
.errorSignUp {
  color: hotpink !important;
}

.signUpBody{
  border: 1px solid var(--lightGrey) !important;
  border-radius: 13px;
  padding: 20px;
  background-color: var(--inputText) !important;
}