:root {
  --babyBlue: #1da1f2;
  --black: #14171a;
  --darkGrey: #657786;
  --lightGrey: #aab8c2;
  --extraLightGray: #e1e8ed;
  --extraExtraLightGray: #f5f8fa;
  --white: #ffffff;
  --newTwitterBlue: #15212b;
  --inputText: #253441;
}


.modalHeader{
  display: grid;
  grid-template-columns: 80% 20%;

}
/* .signUpLogo{
  width: 60%;
} */
.signUpNextBttn{
  background-color: var(--babyBlue);
  border-radius: 50px;
  text-align: center;
}
#nextBttn{
  background-color: var(--babyBlue);
  border: 0px solid var(--babyBlue);
  color: var(--white);
  font-size: large;
  font-weight: bold;
  position: relative;
  top: 5px;
}

.signUpEmail{
  width: 411px;
  background-color: var(--inputText);
  font-size: smaller;
  color: var(--lightGrey);

}
.signUpPassword{
  width: 411px;
  background-color: var(--inputText);
  font-size: smaller;
  color: var(--lightGrey);

 
}
.emailLabel{
  text-align: left;
  background-color: var(--inputText);
  margin-bottom: -18px;
  
}
.passwordLabel{
  text-align: left;
  background-color: var(--inputText);
  margin-bottom: -18px;
  
}
#inputSignUpPassword {
  background-color: #253441;
  width: 405px;
  height: 30px;
  border: .5px solid #253441;
  border-bottom: 1px solid var(--lightGrey);
  color: var(--babyBlue);
  outline: none;
}
#inputSignUpEmail {
  background-color: #253441;
  width: 405px;
  height: 30px;
  border: .5px solid #253441;
  border-bottom: 1px solid var(--lightGrey);
  color: var(--babyBlue);
  outline: none;
}
