:root{
    --babyBlue: #1DA1F2;
    --black: #14171A;
    --darkGrey: #657786;
    --lightGrey: #AAB8C2;
    --extraLightGray: #E1E8ED;
    --extraExtraLightGray: #F5F8FA;
    --white: #ffffff;
    --newTwitterBlue: #15212b;

}
.twitterSearch{
    border: 5px solid red;
}
