:root {
  --babyBlue: #1da1f2;
  --black: #14171a;
  --darkGrey: #657786;
  --lightGrey: #aab8c2;
  --extraLightGray: #e1e8ed;
  --extraExtraLightGray: #f5f8fa;
  --white: #ffffff;
  --newTwitterBlue: #15212b;
  --inputText: #253441;
}

/* .userContainer {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 5% 5% 3fr;
} */
.usersPage {
  background-color: var(--newTwitterBlue) !important;
  height: fit-content;
}
.headerContainer {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  border: 2px solid var(--darkGrey);
  grid-area: 1/2 / span 1 / span 1;
  color: var(--babyBlue);
  padding: 10px;
  margin: 5px;
  border-radius: 13px;
  width: 100%;
}
#welcomeTitle {
  grid-area: 1/ 2 / span 1 / span 1;
  padding: 10px;
  margin: 5px;
}
#postTitle {
  grid-area: 2/ 2 / span 1 / span 1;
  padding: 10px;
  margin: 5px;
}

.hweetContainer {
  border: 2px solid var(--darkGrey);
  height: fit-content;
  border-radius: 13px;
  padding: 20px;
  background-color: var(--newTwitterBlue) !important;
}
.userInfoDiv {
  /* background-color: var(--newTwitterBlue) !important; */
  padding: 5px;
}
.userInformation {
  padding: 10px;
}

#profileImg {
  height: auto;
  width: 250px;
}
.userProfileName {
  padding: 10px;
}
#userProfileName {
  padding: 10px;
  color: var(--lightGrey) !important;
  border: 2px solid var(--lightGrey) !important;
  border-radius: 13px;
}
.postsContainer {
  background-color: var(--newTwitterBlue) !important;
  border: 2px solid var(--lightGrey) !important;
  border-radius: 13px;
  padding: 20px;
  grid-row-gap: 10px;
}
.userHweetDiv {
  border: 2px solid var(--lightGrey);
  padding: 10px;
  border-radius: 13px;
  margin: 10px 0px;
}
.userHweetFeed {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  overflow: scroll;
  height: 80vh;
  border: 2px solid var(--lightGrey);
  border-radius: 13px;
  background-color: var(--inputText) !important;
  padding: 20px;
}
.userHweetCard{
  grid-column: 2/ span 1;
}
.postUl{
  padding: 1%;
  list-style-type: none;
  color: white !important;
}
.postLi{
  border: 2px solid var(--lightGrey) !important;
  margin: 10px 2px;
  border-radius: 13px;
}
.postLi:hover{
  background-color: var(--newTwitterBlue) !important;
  cursor: pointer;
  color: var(--lightGrey) !important;
}
.eachPost{
  display: grid;
  grid-template-columns: 25% 5% 45% 25%;
  grid-template-rows: repeat(4, 25%);
}
.h5Container{
  grid-area: 1/ 1/ span 2/ span 1;
  padding: 10px;
  margin: 10px;
  color: var(--white) !important;
}
#nameButton:hover{
  color: var(--newTwitterBlue) !important;
  background-color: var(--white) !important;
}
#nameButton{
  background-color: var(--babyBlue) !important;
  border-radius: 13px;
  padding: 10px;
  margin: 5px;
  width: fit-content;
}
.postPTag{
  grid-area: 2/3/ span 2/ span 2;
  padding: 10px;
  margin: 10px;
  overflow: scroll;
}

