:root {
  --babyBlue: #1da1f2;
  --black: #14171a;
  --darkGrey: #657786;
  --lightGrey: #aab8c2;
  --extraLightGray: #e1e8ed;
  --extraExtraLightGray: #f5f8fa;
  --white: #ffffff;
  --newTwitterBlue: #15212b;
  --inputText: #253441;
}

.userContainer{
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 10% 15% 3fr;
}
/* .headerContainer{
  display: grid;
  border: 2px solid brown
} */