:root {
  --babyBlue: #1da1f2;
  --black: #14171a;
  --darkGrey: #657786;
  --lightGrey: #aab8c2;
  --extraLightGray: #e1e8ed;
  --extraExtraLightGray: #f5f8fa;
  --white: #ffffff;
  --newTwitterBlue: #15212b;
  --inputText: #253441;
}

.HweetContainer {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
  height: 100%;
}
#inputHweet {
  grid-area: 2/ 2 / span 2 / span 1;
  height: 95%;
  background-color: var(--newTwitterBlue);
  color: var(--darkGrey);
  border: 3px solid var(--babyBlue);
  border-radius: 13px;
  font-weight: bold;
}
#hweetButton {
  grid-area: 4 / 3 / span 1 / span 1;
  background-color: var(--babyBlue);
  border: 2px solid var(--babyBlue);
  text-shadow: 2px 2px 5px var(--black);
  color: var(--white);
  font-weight: bold;
  border-radius: 13px;
  padding: 10px;
}
#hweetButton:hover {
  background-color: var(--newTwitterBlue);
  text-shadow: 2px 2px 20px var(--white);
  color: var(--babyBlue);
  cursor: pointer;
}
::placeholder{
    text-align: start;
}
