:root {
  --babyBlue: #1da1f2;
  --black: #14171a;
  --darkGrey: #657786;
  --lightGrey: #aab8c2;
  --extraLightGray: #e1e8ed;
  --extraExtraLightGray: #f5f8fa;
  --white: #ffffff;
  --newTwitterBlue: #15212b;
  --inputText: #253441;
}
.formHweetContainer {
  padding: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: 80% 1fr;
}

#inputHweet {
  background-color: var(--inputText);
  border: 1px solid var(--newTwitterBlue);
  border-radius: 13px;
  height: 87px;
}
.hweetSubmitButton {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(3, auto);
}
#hweetSubmitButton {
  grid-area: 2/ 2 / span 1 / span 1;
  background-color: var(--newTwitterBlue);
  border: 2px solid var(--babyBlue);
  border-radius: 13px;
  color: var(--babyBlue);
  font-weight: bold;
  padding: 2px;
  margin: 2px;
}
#hweetSubmitButton:hover {
  background-color: var(--inputText)!important;
  cursor: pointer;
}
textarea {
  resize: none;
  font-family: inherit;
  color: var(--lightGrey);
  outline: none;
}
::placeholder {
  color: var(--babyBlue);
}
