:root {
  --babyBlue: #1da1f2;
  --black: #14171a;
  --darkGrey: #657786;
  --lightGrey: #aab8c2;
  --extraLightGray: #e1e8ed;
  --extraExtraLightGray: #f5f8fa;
  --white: #ffffff;
  --newTwitterBlue: #15212b;
  --inputText: #253441;
}
.formHweetContainer {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 2%;
  grid-template-rows: 2% 2fr 1fr 1fr 2%;
  grid-column-gap: 10px;
}
#inputHweet {
  grid-area: 2/ 2 / span 3 / span 1;
  background-color: var(--inputText);
  border: 1px solid var(--newTwitterBlue);
  border-radius: 13px;
}
#hweetButton {
  grid-area: 3/3 / span 1 / span 1;
  background-color: var(--newTwitterBlue);
  border: 1px solid var(--babyBlue);
  border-radius: 13px;
  color: var(--babyBlue);
  font-weight: bold;
}
#hweetButton:hover {
  background-color: var(--inputText);
  cursor: pointer;
}
textarea {
  resize: none;
  font-family: inherit;
  color: var(--lightGrey);
  outline: none;
}
::placeholder {
  color: var(--babyBlue);
  /* position: relative;
  top: -56px;
  left: 14px; */
}
@keyframes blinker {

}